<div class="each-lesson">
	<h1>Lesson 1</h1>
	<h2>Intro to Lean Startup Principles</h2>
	<div class="lesson-video">
		<iframe width="560" height="315" src="//www.youtube.com/embed/WAdikBfKeD8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="lesson-content">
		Welcome to Young Dreamer. We want to teach you, the entrepreneurs of tomorrow, great business principles. We are glad you decided to learn!
		</br>
		</br>
		The lessons are very easy to do. Each lesson is simply watching a video. Listen up because there is a quiz after each video. You will be rewarded when you finish each lesson.
		</br>
		</br>
		Watch this first video. When finished with the video click the button below and take the quiz.
		</br>
		</br>
		<center>
		<p><a class="btn orange" href="#/quiz/first">Take Quiz</a></p>
		</center>
	</div>
</div>



