<div class="each-lesson">
	<h1>Lesson 2</h1>
	<div class="lesson-video">
		<iframe width="560" height="315" src="//www.youtube.com/embed/rUfa-2GfodQ" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="lesson-content">
		Congrats on finishing the first lesson! You are catching on quickly. Feel free to take a break, we will remember which lesson you are on. You can come back and pick up right where you left off.
		</br>
		</br>
		Watch the second video now. When finished continue on and take the quiz.
		</br>
		</br>
		<center>
		<p><a class="btn orange" href="#/quiz/second">Take Quiz</a></p>
		</center>
	</div>
</div>



