<div class="each-lesson">
	<h1>Lesson 2</h1>
	<h2>Finding your passion</h2>
	<div class="lesson-video">
		<b>Coming up with an idea:</b>
		<p>Find something you love and you will never have to work a day in your life.</p>
		<p>This statement has never been so true. Teens all over the world are discovering ways to turn their passions into profitable businesses. Whether you are into snowboarding, painting, or cooking, with the proper tools and knowledge you will be able to start your own business.</p>
		<p>You should be able to describe your idea in one sentence and a possible solution in another sentence. That’s two sentences.</p>
		<b>Do a brain dump:</b>
		<p>This is great if you’ve got a few ideas stored in your head somewhere. Write the ideas down. Express each one as a problem and make an attempt at imagining how a website or mobile app might provide a solution.</p>
		<b>Become a detective:</b>
		<p>In the event that your brain dump doesn’t provide you with any ideas, or if you want to come up with even more ideas, put on your detective cap and start looking for clues. Start with yourself. What bugs you? Why does it bug you? How can you make it better? Next, observe and listen to everyone around you, especially your family and friends. What kinds of problems are they having that you can solve using the web or a mobile app? Write down these problems and possible solutions, too. The more you observe and the more you listen, the more opportunities you will see and create!</p>
		<b>Still need some help coming up with an idea?</b>
		<p>Start by browsing these categories to spark your own startup ideas...</p>
		<ul>
			<li><b>Animals</b></li>
			<li>Animal Breeder</li>
			<li>Animal Groomer</li>
			<li>Dog Walker</li>
			<li>Pet Waste Removal</li>
			<li>Pet Sitter</li>
			<li><b>Computers & Technology</b></li>
			<li>Computer Building and Repair</li>
			<li>Technology Instructor / Tutor</li>
			<li>Website Developer</li>
			<li>Mobile App Developer</li>
			<li>Video Production and Editing</li>
			<li><b>Creative</b></li>
			<li>Jewelry Designer</li>
			<li>Clothing Designer</li>
			<li>Graphic Designer</li>
			<li>Artist</li>
			<li>Photographer / Videographer</li>
			<li><b>Education</b></li>
			<li>Tutor</li>
			<li>Cooking Instructor</li>
			<li>Dance Instructor</li>
			<li>Sports Trainer</li>
			<li>Technology Instructor</li>
			<li><b>Food & Beverage</b></li>
			<li>Baker</li>
			<li>Caterer</li>
			<li>Gourmet Goods Maker</li>
			<li>Menu Preparer</li>
			<li><b>Home & Garden</b></li>
			<li>Home Maintenance</li>
			<li>Landscaping</li>
			<li>Custom Builder</li>
			<li>House Sitter</li>
			<li>Home Stager / Interior Designer</li>
			<li><b>Kids</b></li>
			<li>Baby Sitting Broker</li>
			<li>Birthday Party Planner</li>
			<li>Children's Clothes Reseller</li>
			<li>Children's Toy / Book Reseller</li>
			<li>Kids Lessons</li>
			<li><b>Outdoors</b></li>
			<li>Car Washing / Detailing</li>
			<li>Fishing Guide</li>
			<li>Photographer / Videographer</li>
			<li><b>Sports</b></li>
			<li>Bike Maintenance and Repair</li>
			<li>Ski / Snowboard Maintenance and Repair</li>
			<li>Golf Caddy</li>
			<li>Sports Coach / Trainer</li>
			<li>Sporting Equipment Manufacturing</li>
		</ul>
	</div>
	<div class="lesson-content">
		Congrats on finishing the first lesson! You are catching on quickly. Feel free to take a break, we will remember which lesson you are on. You can come back and pick up right where you left off.
		</br>
		</br>
		Read this second lesson, about finding an idea, then take the quiz.
		</br>
		</br>
		<center>
		<p><a class="btn orange" href="#/quiz/second">Take Quiz</a></p>
		</center>
	</div>
</div>



