<div class="each-lesson">
	<h1>Lesson 3</h1>
	<div class="lesson-video">
		<iframe width="560" height="315" src="//www.youtube.com/embed/rUfa-2GfodQ" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="lesson-content">
		One more lesson to go. Keep up the good work. Remember, Young Starter rewards learning. Finish this last lesson and you will receive your reward.
		</br>
		</br>
		Watch this 3rd and final video. When finished continue on and take the quiz.
		</br>
		</br>
		<center>
		<p><a class="btn orange" href="#/quiz/third">Take Quiz</a></p>
		</center>
	</div>
</div>



