<div class="each-lesson">
	<h1>Lesson 3</h1>
	<h2>The Business Model</h2>
	<div class="lesson-video">
		<p>Let’s talk about the ‘Business Model Canvas’.</p>
		<p>Fortunately for us,  Steve Blank, Eric Ries, Alexander Osterwalder and countless others have been working diligently to document and teach startup founders critically important lessons that we can all use to teach our kids how to find success in their own lives.  But before we do, a few things will have to happen.  The main concepts have been simplified so that it can be easily and effectively explained to someone who is not in the startup world.</p>
		<p>The Business Model Canvas and its 9 sections are a vast improvement over the traditional 200 page business plan, it still left quite a few people scratching their heads trying to understand it.   In fact, most people who we have talked to about the canvas have no idea that the left side of the canvas is all about the production of a product or service,  the right is all about the customer and that the Value Proposition joins the two in the middle.   To solve this, the folks at the Teen Startup Challenge in Colorado have simply boiled down the entire concept of the Business Model Canvas down to its most fundamental components.   The easiest way to do this is by asking the question “which of the 9 sections are core or fundamental aspects and which are tangential supporting elements, or byproducts?”  In other words if you removed all of the byproducts or non essential elements what would you have left?</p>
		<p>We want to be absolutely clear that we are not saying that these other elements are not important to the overall success of the business model, they are.  It’s just that we want to be able to explain the entire idea of the business model canvas in a few short words so that the person learning can quickly experience that “ah ha!” moment of clarity.  Then, we can easily introduce the other elements and their importance.   By doing this exercise, the Teen Startup Challenge came up with are three easy to remember words, “Make”, “Value” for “People” represented by the top three boxes in the middle.</p>
		<img src="resources/img/mvp.png">
		<p>We call it the MVP Business Model which in this case, MVP does not stand for Minimum Viable Product, but for “Making, Value for People”.   To us, the entire BIG IDEA of business can be distilled into the act of “Making Value for People”, no more, no less.</p>
		<img src="resources/img/mvp1.png">
		<p>Where this idea becomes very interesting is when we substitute the word “Customers” for “People” and put the individual at the core of the process.  By doing this we are saying that anyone who figures out how to add more value to the people around them then they consume in resources will always find success both in life and business.   At the same time, while we agree that profit and losses are a great way to measure business success, true success can be measured in many different ways.  If we were to actually put this into a formula that we could solve for, it would look something like this:</p>
		<img src="resources/img/success.png">
	</div>
	<div class="lesson-content">
		One more lesson to go. Keep up the good work. Remember, Young Starter rewards learning. Finish this last lesson and you will receive your reward.
		</br>
		</br>
		Read this 3rd and final lesson. When finished continue by taking the 3rd quiz.
		</br>
		</br>
		<center>
		<p><a class="btn orange" href="#/quiz/third">Take Quiz</a></p>
		</center>
	</div>
</div>



