<header class="nav-bar">
		<div class="container">
			<ul class="nav-left">
				<li>
					<a class="brand" href="/"></a>
				</li>
				<li>
					<a href="#/about#about_page">About</a>
				</li>
				<li>
					<a href="#/donate">Donate</a>
				</li>
				<li>
					<a href="#/projects">Projects</a>
				</li>
			</ul>
			<ul class="nav-right">	
				<li>
					<a href="#/profile">Account</a>
				</li>
				<li>
					<a href="#/login" ng-show='profile.email == null'><span class="nav-btn">Log in</span></a>
                                        <a ng-click='logout()' ng-show='profile.email != null'><span class="nav-btn">Log out</span></a>
				</li>
			</ul>
		</div>
</header>