<div class="cover-photo">
	<div class="container">
		<h1>If opportunity doesn't knock, open a door</h1>
		<center>
			<a href="#/about#about_page" class="btn-outline">Learn More</a>
			<a href="#/profile" class="btn-start">Start Now</a>
		</center>
	</div>
</div>
<div class="counter">
	{{counter}}
</div>
<div class="container" id='about_page'>
	<div class="cover-box">
		<p class="welcome">Welcome to Young Starter</p>
		<hr class="welcome-hr">
		<img class="welcome-logo" src="resources/img/ys-logo.png">
		<p class="non-profit">Young Starter is a non-profit program designed to help kids learn business principles and apply them to their very own business.</p>
	</div>
</div>

<div class="how">
	<div class="container">
		<h1>Here is how it works</h1>
		<div class="thirds">
			<i class="fa fa-pencil-square-o"></i>
			<span class="step">1</span>
			<p>Learn</p>
		</div>
		<div class="thirds">
			<i class="fa fa-video-camera"></i>
			<span class="step">2</span>
			<p>Pitch</p>
		</div>
		<div class="thirds">
			<i class="fa fa-money"></i>
			<span class="step">3</span>
			<p>Do</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="what">
	<div class="container">
		<p>To participate, all you need is an internet connection and the desire to turn your passions into a real business.  Sign up now and you’ll get free access to our online training program, AND you’ll get $20 to start your business after completing our videos and quizzes.</p>
		<p>After that, you’ll have access to our crowd-funding platform and mentorship program where you can raise money for your idea, and get free advice from successful business mentors.</p>
	</div>
</div>