<div class="cover-photo">
	<div class="container">
		<h1>If opportunity doesn't knock, open a door</h1>
		<center>
			<a href="#/about#about_page" class="btn-outline">Learn More</a>
			<a href="#/profile" class="btn-start">Start Now</a>
		</center>
	</div>
</div>

<div class="counter">
	<span class="red">${{counter}}</span>
	<span>Money Raised</span>

	<span class="red left-red">21</span>
	<span>Youth Businesses Funded</span>

	<span class="red left-red">33</span>
	<span>Youth Learning</span>
</div>

<div class="container" id='about_page'>
	<div class="cover-box">
		<p class="welcome">Welcome to Young Starter</p>
		<hr class="welcome-hr">
		<img class="welcome-logo" src="resources/img/ys-logo.png">
		<p class="non-profit">Young Starter is a non-profit program designed to help kids learn business principles and apply them to their very own businesses.</p><p class="non-profit">After the learning kids start a crowdfunding campaign to jumpstart their ideas.</p><p class="non-profit">It is a kickstarter for kids!</p>
	</div>
</div>

<div class="how">
	<div class="container">
		<h1>Here is how it works</h1>
		<div class="thirds">
			<i class="fa fa-pencil-square-o"></i>
			<span class="step">1</span>
			<p>Learn</p>
		</div>
		<div class="thirds">
			<i class="fa fa-video-camera"></i>
			<span class="step">2</span>
			<p>Pitch</p>
		</div>
		<div class="thirds">
			<i class="fa fa-money"></i>
			<span class="step">3</span>
			<p>Fund</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="what">
	<div class="container">
		<p>All you need is the desire to turn your passions into a real business</p>
	</div>
</div>

<div class="curriculum">
	<div class="container">
		<h1>The Curriculum</h1>
		<hr>
		<div class="curr-left">
			<i class="fa fa-files-o"></i>
		</div>
		<div class="curr-right">
			<p>Our lessons are easy to learn, but have a powerful punch!</p>
			<p>There are three lessons to complete. Once completed, using the principles learned, Young Starters will submit a business idea.</p>
			<p>Once a business idea has been submitted, you’ll have access to our crowd-funding platform and mentorship program where you can raise money for your idea, and get free advice from successful business mentors.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="start-now">
	<div class="container">
		<a href="#/login" ng-show='profile.email == null'><span class="nav-btn">Start Now</span></a>
		<p>Learn. Pitch. Fund.</p>
	</div>
</div>