
<div class="lesson-page">
    <div class="sidebar">
        <h1>Lessons</h1>
        <hr>
        <ul>

            <li ng-class='{current: isCurrent(1), complete: isComplete(1), disabled: isIncomplete(1)}'>
                <i class="fa" ng-class='{"fa-clock-o": isIncomplete(1) || isCurrent(1), "fa-check": isComplete(1)}'></i>
                <a>Lesson 1</a>
            </li>
            <li ng-class='{current: isCurrent(2), complete: isComplete(2), disabled: isIncomplete(2)}'>
                <i class="fa" ng-class='{"fa-clock-o": isIncomplete(2) || isCurrent(2), "fa-check": isComplete(2)}'></i>
                <a>Lesson 2</a>
            </li>
            <li ng-class='{current: isCurrent(3), complete: isComplete(3), disabled: isIncomplete(3)}'>
                <i class="fa" ng-class='{"fa-clock-o": isIncomplete(3) || isCurrent(3), "fa-check": isComplete(3)}'></i>
                <a>Lesson 3</a>
            </li>
        </ul>
    </div>
<!-- The lesson material get's loaded in the following div-->
    <div class="lesson-view" ui-view="lesson_view"></div>

</div>