<div class="business-plan">
    <h1>Find a Project to help Fund</h1>
</div>
<div class="container">


    <div class="project" ng-repeat="project in plans"  ng-mouseover="project.show=true" ng-mouseout="project.show =false">
        <a href="#/projectpage/{{project.id}}">
            <img ng-src="files/{{project.picture}}" fallback-src="resources/img/default-img.jpg"/>
            <div class="project-hover" ng-show="project.show">
                <span>
                    <p>{{project.name}}</p>
                    <p><b>${{project.raised}}</b> Raised</p>
                    <p>{{project.business_name}}</p>
                </span>
            </div>
        </a>
    </div>
</div>