<div class="business-plan">
    <h1>Find a Project to help Fund</h1>
</div>
<div class="container">
    <div class="project">
        <img src="http://pictures.directnews.co.uk/liveimages/kid%2Brun%2Blemonade%2Bstands%2Bmay%2Bbe%2Bcovered%2Bby%2Bhomeowners%2Binsurance%2Bplans_16000342_800844386_1_0_7037016_300.jpg">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
    <div class="project">
        <img src="http://www.amiba.net/assets/images/People/louisville-mom-kid-w-buylocal%20stickers-square.gif">
    </div>
</div>