<div class="funding-page">
	<h1>{{plan.name}}</h1>
	<p>by {{user.first_name}} {{user.last_name}}</p>
</div>
<div class="container-funding">
	<div class="funding-left">
		<h1>The Details</h1>
		<b>Why {{user.first_name}} wants to start a business:</b>
		<p>{{plan.summary}}</p>
		<b>The Business Idea:</b>
		<p>{{plan.activities}}</p>
		<b>The Target Customers:</b>
		<p>{{plan.customer}}</p>
		<b>The Product Description:</b>
		<p>{{plan.value}}</p>
	</div>
	<div class="funding-right">
		<span>{{plan.supporters}}</span>
		<p>Supporters</p>
		<span>${{plan.raised}}</span>
		<p>Raised</p>
		<span>{{plan.daysSince}}</span>
		<p>Days on Young Starter</p>
		<center>
		<a class="btn green" href="#getOrgImage" colorbox="#getOrgImage" colormebox>Support this Business<p>$1 Minimum</p></a>
		</center>
		<hr>
		<img ng-src="files/{{user.profile_pic}}" fallback-src="resources/img/default-img.jpg">
		<p class="project-user">By {{user.first_name}} {{user.last_name}}</p>
	</div>
</div>



<div class="lightbox-wrapper">
    <div class="lightbox" id="getOrgImage">
        <div class="error">{{error}}</div>
        <form>
        	<div class="give-funds">
	            <img ng-src="files/{{user.profile_pic}}" fallback-src="resources/img/default-img.jpg">
	            <p class="project-user">Support {{user.first_name}} {{user.last_name}}</p>
            </div>

            <div class="money-amount">
            	 <span>$</span><input id="moenyselect" type="number" min="1" value="1" ng-model="donate.ammount" required/>
            </div>

            <button type="button" class="btn green pull-right" ng-click="donate()">Support</button>
            <button type="button" class="btn orange pull-right" closelightbox data-ng-click="clearQueue()">
                Cancel
            </button>
        </form>
    </div>
</div>