/* dreamer css stylesheet */


.nav-bar {
  border: 0 none;
  background-image: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0 none;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 0 0 1px;
  min-height: 40px;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul.nav-left {
  margin: 0;
  position: relative;
  left: 0;
  display: block;
  float: left;
  list-style: none;
}

ul.nav-right {
  margin: 0;
  position: relative;
  left: 0;
  display: block;
  float: right;
  list-style: none;
}

ul.nav-left li, ul.nav-right li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  float: left;
  line-height: 100%;
  display: list-item;
  text-align: -webkit-match-parent;
}

ul.nav-left li a, ul.nav-right li a {
  line-height: 80px;
  padding: 0 15px;
  text-shadow: none;
  color: #afafaf;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  float: none;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

ul.nav-left li a.brand {
  border: 1px solid #eeeff0;
  border-width: 0 1px;
  line-height: 80px;
  padding: 0 30px;
  text-shadow: none;
  color: #afafaf;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url("../img/ys-logo.png");
  background-size: 40px 30px;
  width: 21px;
  height: 80px;
  margin: 0 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
}

span.nav-btn {
  background-color: #63c6ae;
  color: #fff;
  padding: 8px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cover-photo {
  background: #45494d url(http://i.huffpost.com/gen/981773/thumbs/o-KID-ENTREPRENEURS-facebook.jpg) no-repeat center center;
  background-size: cover;
  -webkit-box-shadow: inset 0 -1px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 -1px 10px rgba(0,0,0,0.6);
  box-shadow: inset 0 -1px 10px rgba(0,0,0,0.6);
  width: 100%;
  min-height: 600px;
  padding: 0px;
  margin: 0px;
}

.cover-photo h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 300%;
  width:100%;
  text-align: center;
  padding-top:370px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  margin-bottom: 30px;
}

.btn-outline {
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-color: rgba(255,255,255,0.5);
  padding: 14px 24px 15px 24px;
  background: none;
  border: 2px solid #bbb;
  margin: 10px auto;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-start {
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-color: rgba(255,255,255,0.5);
  padding: 14px 24px 15px 24px;
  background-color: #63c6ae;
  border: 2px solid #bbb;
  margin: 10px auto;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.cover-box {
  width: 100%;
  height: auto;
  padding: 90px 0px;
  clear: both;
  text-align: center;
}

.cover-box .welcome {
  text-shadow: none;
  color: #afafaf;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  float: none;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

hr.welcome-hr {
  width: 350px !important;
  display: block;
}

img.welcome-logo {
  margin: 20px 0px;
}

p.non-profit {
  color: #45494d;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 60%;
  margin: 20px auto 0px auto;
  text-align: center;
}

.how {
  background: #63c6ae;
  width: 100%;
  height: auto;
  padding: 90px 0px;
  clear: both;
}

.how h1 {
  font-size: 100%;
  text-shadow: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  float: none;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin: 0px 0px 20px 0px;
  display: block;
  text-align: center;
}

.how .thirds {
  width: 33%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.how .thirds i {
  font-size: 400%;
  display: inline-block;
  margin: 0px auto 60px auto;
  width:100%;
  color:#42b498;
}

.how .thirds span {
  background: #f16521;
  border: #fff solid 2px;
  color: #fff;
  border-radius: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding: 10px 17px;
  font-size: 120%;
  display: inline-block;
  margin: auto;
}

.how .thirds p {
  color: #45494d;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 60%;
  margin: 20px auto 0px auto;
  text-align: center;
}

.clear {
  clear:both;
}

.what {
  background: #63c6ae;
}

.what p {
  color: #45494d;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 70%;
  margin: 20px auto;
  text-align: left;
}

.lesson-page {
  width:100%;
  height: auto;
  margin-top: 80px;
}

.sidebar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100%;
  width: auto;
  left: 0;
  background: #eee;
  position: fixed;
  padding: 20px;
}

.sidebar hr {
  margin: 30px 0px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.sidebar ul li i {
  width: 15px;
  height:20px;
  margin: 0px;
  font-size: 150%;
  color: #f16521;
}

.sidebar ul li a {
  width: 30px;
  height:20px;
  color: #63c6ae;
  text-decoration: none;
}

.sidebar .disabled i {
  color: #ddd;
}

 .sidebar .disabled a {
  color: #ddd;
}

.sidebar .disabled:hover {
  background: transparent;
}

.lesson-view {
  width: 900px;
  box-sizing:border-box;
  margin: 0px auto;
}

.edit-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 20px 0px;
}

.edit-info h1 {
  margin: 0px auto 20px auto;
  text-align: center;
  font-size: 150%;
  color:#ddd;
}

.edit-info hr {
  background:#ddd;
}

.edit-info .btn {
  margin-top:-97px;
  position: absolute;
}

.profile-lesson {
  background: #f7f5f2;
  padding: 20px 0px;
  height:auto;
  width:100%;
}

.profile-lesson h1 {
  margin: 0px auto 20px auto;
  text-align: center;
  font-size: 150%;
  color:#ddd;
}

.profile-lesson hr {
  background:#ddd;
}

.lesson-title {
  margin-top: 15px;
  float:left;
  font-weight: 400;
  color: #808080;
  font-size: 100%;
  width: 50%;
}

.lesson-tiles {
  margin-top: 15px;
  float:right;
  font-weight: 800;
  color: #808080;
  font-size: 100%;
}

.profile-lesson-tile {
  height: 100px;
  width: 100px;
  background: #fff;
  float: left;
  margin: 0px 10px;
  text-align: center;
  text-decoration: none;
}

.profile-lesson-tile.complete {
  background-color: #63c6ae;
}

.profile-lesson-tile.current {
  background-color: #f16521;
}

.profile-lesson-tile.incomplete {
  background-color: #ccc;
}

.profile-lesson-tile span {
  line-height: 100px;
  font-size: 200%;
  color: #fff;  
}

.alert-text {
  border: 1px solid #63c6ae;
  color:#63c6ae;
  text-align: center;
  padding:10px;
  width: 50%;
  margin: 30px auto;
}

.each-lesson {
  padding: 30px 0px 0px 0px;
}

.each-lesson h1{
  font-weight: 800;
    color: #ddd;
    font-size: 24px;
}

.each-lesson h2{
  font-weight: 800;
    color: #ddd;
    font-size: 140%;
}

.lesson-video {
  margin-top: 30px;
  width:62%;
  float:left;
}

.lesson-video img {
  width: 100%;
}

.lesson-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width:34%;
  margin-top: 30px;
  margin-left:20px;
  float:right;
}

.quizzes h1{
  font-weight: 800;
    color: #ddd;
    font-size: 24px;
}

.quizzes {
  width:90%;
  padding-top: 30px;
  margin: 30px auto;
}

.submit-quiz {
  width:100%;
  height: 70px;
  border-bottom: 2px solid #ccc;
}

.submit-quiz h1 {
  float:left;
}

.submit-quiz button {
  float:right;
}

.questions {
  width:55%;
  float: left;
  padding-right: 3%;
}

.quiz-question {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 30px 0px;
}

.quiz-question label {
  width: 80%;
  margin: 5px 0px;
}

.quiz-question label input {
  margin-right: 20px;
  margin-bottom: 30px;
  float:left;
}

.help-quiz {
  background: #bbb;
  height: auto;  
  width:40%;
  float: right;
}

.help-quiz h1 {
  text-align: center;
  color: #808080;
}

.help-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height:280px;
  padding: 20px 20px 0px 20px;
  color:#fff;
  box-sizing:border-box;
  text-align: center;
}

.help-info span {
  top:25%;
  width:80%;
  display: inline-block;
}

.business-plan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #ddd;
  padding: 100px 0px 20px 0px;
}

.business-plan h1 {
  font-weight: 800;
  color: #808080;
  font-size: 24px;
  text-align: center;
}

.business-plan-right {
  width:80%;
  margin: 20px auto;
}

.business-plan-right p {
  margin-top: 40px;
}

.project {
  height:222px;
  width: 222px;
  margin: 5px;
  background: #eee;
  float:left;
  border: 1px solid #eeeff0;
  overflow: hidden;
}

.project img {
  height:222px;
  width: 222px;
  margin: 0px;
}

.project-hover {
  width:100%;
  margin-top: -226px;
}

.project-hover span {
  width:100%;
  margin:0px;
  height:222px;
  text-align: center;
  background: rgba(0,0,0,0.6);
  display: inline-block;
  color:#fff;
  font-size: 130%;
}

.funding-page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #f7f5f2;
  padding: 100px 0px 20px 0px;
}

.funding-page h1 {
  font-weight: 800;
  color: #808080;
  font-size: 24px;
  text-align: center;
}

.funding-page p {
  font-weight: 400;
  color: #808080;
  font-size: 100%;
  text-align: center;
}

.funding-page img {
  width:50px;
}

.container-funding {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.funding-left {
  margin:30px 0px;
  width:68%;
  float: left;
  padding: 20px;
  border: 1px solid #eee;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.funding-left h1 {
  color:#ddd;
  text-align: center;
}

.funding-left b {
  margin-top: 40px;
  display: block;
}

.funding-right {
  width:30%;
  float: right;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing:border-box;
  margin:30px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.funding-right p {
  font-size: 100%;
  font-weight: 400;
  color:#808080;
}

.funding-right span {
  font-size: 220%;
  font-weight: 800;
  color:#f16521;
}

.funding-right a {
  margin:20px auto;
  height: auto;
  font-size: 120%;
}

.funding-right a p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 80%;
  margin: 0px auto;
  height: 20px;
  padding: 0px;
  line-height: 10px;
  text-align: center;
  color:#fff;
}

.project-user {
  margin-top: 30px;
  float:right;
  color:#ddd;
}

.funding-right img {
  margin: 20px 0px 0px 20px;
  width: 50px;
  float: right;
}